<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        *{
              color: #cecaca;
        }
        #heart {
            color:red !important;
        }
        #footer-text{color:white !important;}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGT Photography</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height()); 
          window.parent.postMessage( iframe_height, 'https://bootsnipp.com');
        });
    </script>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light newcolor   border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- HERE IS WHAT WE HAD PREVIOUSLY, ABOVE IS WHAT I'M TESTING -->
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <!-- <a class="navbar-brand" href="/">
                AGT Photography</a> -->
                <a class="navbar-brand" style="padding: 0px;" href="/"><img src="~/images/agt_logo.png" style="width: 50px;"alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/gallery" style="color:black;">GALLERY <span class="sr-only">(current)</span></a></li>
                    <li><a href="/store" style="color:black;">STORE</a></li>
                    <li><a href="/aboutus" style="color:black;">ABOUT </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;">Account</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            @{
                                if(ViewBag.User == null)
                                {
                                    <a class="dropdown-item" href="/account">Orders </a> 
                                    <a class="dropdown-item" href="/account">Account Info </a> 
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/account">Login/Register </a> 
                                }
                                else
                                {
                                    <a class="dropdown-item" href="/account/orders">Orders </a> 
                                    <a class="dropdown-item" href="/account/info">Account Info </a> 
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Logout </a> 
                                }
                            }
                        </div>
                    </li>
                </ul>
            @{
                bool hasCart = false;
                if(ViewBag.User != null)
                {
                    foreach(var order in ViewBag.User.Orders)
                    {
                        if(order.PurchaseMade == false)
                        {
                            hasCart = true;
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"style="color:black;"> <span class="glyphicon glyphicon-shopping-cart"></span> @order.ItemsOrdered.Count - Items</a>
                                <ul class="dropdown-menu dropdown-cart" role="menu">
                                    @foreach(var item in order.ItemsOrdered)
                                    {
                                        <li>
                                            <span class="item">
                                                <span class="item-left">
                                                    <a href="/image/@item.ChosenImage.Galleryid"><img style="width: 60px;"src="@item.ChosenImage.Image_URL" alt="" /></a>
                                                    <span class="item-info">
                                                        <span style="color:black;"><strong style="color:black;">@item.ChosenImage.Title</strong></span> 
                                                        <span style="color:black;"><strong style="color:black;">Price:</strong> @item.Product.Price</span>
                                                        <span style="color:black;"><strong style="color:black;">Quantity:</strong> @item.Quantity</span> 
                                                    </span>
                                                </span>
                                                <span class="item-right">
                                                    <a href="/delete/@item.Itemid"><button class="btn btn-xs btn-danger pull-right">x</button></a>
                                                </span>
                                            </span>
                                        
                                        </li>
                                        <li class="divider"></li>

                                    };
                                    <li><a class="text-center" href="/viewcart">ViewCart</a></li>
                                </ul>
                                </li>
                            </ul>
                        }
                    }
                }
                @if(hasCart == false)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"style="color:black;"> <span class="glyphicon glyphicon-shopping-cart"></span> 0 - Items</a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            <li>
                                <span class="item text-center">
                                    Your Cart is empty!
                                </span>
                            </li>
                            <li class="divider"></li>
                            <li><a class="text-center" href="/account">Login & Shop</a></li>
                        </ul>
                        </li>
                    </ul>
                }
            }
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3" style="padding-bottom: 6rem !important">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="margin-left:15px;">
            &copy; 2019 - Made with <span id="footer-text"><b id="heart">&hearts;</b></span> by Adam and Tony
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
