@model ProductQuantity
@{
    string title = @ViewBag.ThisImage.Title;
    ViewData["Title"] = title;
}
<script type="text/javascript">
    $(function() {
        $("#price_select").change(function() {
            if ($("#canvas_select").is(":selected")) {
                $("#canvas_prices").show();
                $("#metalic_prices").hide();
            } else {
                $("#metalic_prices").show();
                $("#canvas_prices").hide();
            }
        }).trigger('change');
    });
</script>
<div class="container">
<div class="row">
    <div class="col-8">
        <a href="@ViewBag.ThisImage.Image_URL"><img style="width:500px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);" src="@ViewBag.ThisImage.Image_URL" alt="@ViewBag.ThisImage.Title"></a>
    </div>
    <div class="col-4">
        <h1>@ViewBag.ThisImage.Title</h1>
        <p>@ViewBag.ThisImage.Description</p>
        <h4>Order one!</h4>
        <form asp-controller="Home" asp-action="AddToCart" asp-route-id="@ViewBag.ThisImage.Galleryid">
            <div class="form-group  col-6">
                <label asp-for="Style">Style</label>
                <span asp-validation-for="Style"></span>
                <select id="price_select" asp-for="Style" class="form-control">
                    <option id="canvas_select">Canvas</option>
                    <option id="metalic_select">Metalic</option>
                </select>
            </div>
            <div class="form-group col-6">
                <label asp-for="Size">Size</label>
                <span asp-validation-for="Size"></span>
                <!-- canvas prices -->
                <div id="canvas_prices">
                    <select asp-for="Size" class="form-control">
                        <option value="5x7">5x7 - $19.99</option>
                        <option value="8x10">8x10 - $29.99</option>
                        <option value="24x36">24x36 - $59.99</option>
                    </select>
                </div>
                <!-- metalic prices -->
                <div id="metalic_prices">
                    <select asp-for="Size" class="form-control">
                        <option value="5x7">5x7 - $39.99</option>
                        <option value="8x10">8x10 - $59.99</option>
                        <option value="24x36">24x36 - $99.99</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-4">
                <label asp-for="Quantity">Quantity</label>
                    <span asp-validation-for="Quantity"></span>
                    <input type="number" asp-for="Quantity" class="form-control">
            </div>
            <div class="form-group col-4">
            <button class="btn btn-light"type="submit btn-light">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>