<h2 class="text-center h2_cart">Your Cart </h2>
<div class="container">
<table class="table">
  <thead>
    <tr class="cart_header">
      <th class="text-center" scope="col">Image</th>
      <th class="text-center" scope="col">Title</th>
      <th class="text-center" scope="col">Price</th>
      <th class="text-center" scope="col">Material</th>
      <th class="text-center" scope="col">Quantity</th>
      <th class="text-center" scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
@{
    foreach(var item in ViewBag.Cart.ItemsOrdered)
    {
    <tr class="cart_size">
      <td><a href="/image/@item.ChosenImage.Galleryid"><img style="width: 300px;"src="@item.ChosenImage.Image_URL" alt="whuthappened" /></a></td>
      <td>@item.ChosenImage.Title</td>
      <td>@item.Product.Price</td>
      <td>@item.Product.Style</td>
      <td>@item.Quantity</td>
      <td><a href="/delete/@item.Itemid"><button class="btn btn-danger">x</button></a></td>
    </tr>
    }
}
</table>
<p class="text-right"><strong>TOTAL: </strong>$@ViewBag.Total</p>
<div class="text-right"><button type="button"class="btn btn-secondary">Checkout</button></div>
</div>



